a:link {color: #FFFFFF; text-decoration: none; }
a:active {color: #FFFFFF; text-decoration: none; }
a:visited {color: #FFFFFF; text-decoration: none; }
a:hover {color: #14ab00; text-decoration: none; }
#logo {
position: relative;
width: 530px;
margin: 0 auto;
}
body {
        background-color: #303030;
        font-family: consolas;
        font-weight: bold;
        font-size: 18px;
        color:#000000;
}
table {
		border-collapse: collapse;
		border: 3px solid #14ab00;
        background-color: #000000;
		color: #14ab00;
}
#hover tr:hover{
background-color: #303030;
}
.noborder, .noborder tr, .noborder th, .noborder td { border: none; background-color: #000000; color: #157DEC;}
.regular { 
background: #303030; 
color: #FFFFFF; 
border: 1px solid #323232; 
border-top: 1px solid #222; 
border-left: 1px solid #222; 
padding: 9px; 
width: 250px;
}
.regular:focus {
outline-size: 3px;
outline-color: #14ab00;
}
.regulartextarea { 
background: #303030; 
color: #FFFFFF; 
border: 1px solid #323232; 
border-top: 1px solid #222; 
border-left: 1px solid #222; 
padding: 9px; 
}
.regulartextarea:focus {
outline-size: 3px;
outline-color: #14ab00;
}
#page_bar {
word-wrap:break-word;
overflow:hidden;
}
progress,
progress[role]
{
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
border: none;
background-size: auto;
border: solid #323232 1px;
border-radius: 5px;
width: 350px;
height: 35px;
margin: 0 auto;
}

/* Progress bar background color */ 

/* Polyfill */  /* Firefox  */
progress,
progress[role][aria-valuenow] {
   background: #000000; !important; 
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #000000;
}

/* Progress bar color */

/* Firefox */
progress::-moz-progress-bar {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14ab00), color-stop(1, #0f6f00) );
background:-moz-linear-gradient( center top, #14ab00 5%, #0f6f00 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14ab00', endColorstr='#0f6f00');
background-color:#14ab00;
}

/* Chrome */
progress::-webkit-progress-value {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14ab00), color-stop(1, #0f6f00) );
background:-moz-linear-gradient( center top, #14ab00 5%, #0f6f00 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14ab00', endColorstr='#0f6f00');
background-color:#14ab00;
}

/* Polyfill */
progress[aria-valuenow]:before  {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14ab00), color-stop(1, #0f6f00) );
background:-moz-linear-gradient( center top, #14ab00 5%, #0f6f00 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14ab00', endColorstr='#0f6f00');
background-color:#14ab00;
}

div#styled-select {
   width: 280px;
   height: 52px;
   overflow: hidden;
   background: url('./images/down_arrow.png') no-repeat right #303030;
   border: 1px solid #14ab00;
   -webkit-border-top-right-radius: 7px;
   -webkit-border-bottom-right-radius: 7px;
   -moz-border-radius-topright: 7px;
   -moz-border-radius-bottomright: 7px;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
   -webkit-border-top-left-radius: 7px;
   -webkit-border-bottom-left-radius: 7px;
   -moz-border-radius-topleft: 7px;
   -moz-border-radius-bottomleft: 7px;
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
}
div#styled-select select { 
   color: #000000;
   background: transparent;
   width: 280px;
   height: 52px;
   font-size: 16px;
   border: 1px solid #14ab00;
   -webkit-appearance: none; 
   -moz-appearance: window;
   overflow:hidden;
   appearance: normal;
   line-height: 20px;
}
div#styled-select select:focus {
outline-size: 1px;
outline-color: #000000;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
input[type=submit] {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14ab00), color-stop(1, #0f6f00) );
	background:-moz-linear-gradient( center top, #14ab00 5%, #0f6f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14ab00', endColorstr='#0f6f00');
	background-color:#14ab00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #303030;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
}input[type=submit]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f6f00), color-stop(1, #14ab00) );
	background:-moz-linear-gradient( center top, #0f6f00 5%, #14ab00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6f00', endColorstr='#14ab00');
	background-color:#0f6f00;
}input[type=submit]:active {
	position:relative;
	top:1px;
}